.nav {
  background: linear-gradient(90deg, rgb(181, 253, 132) 0%, rgb(255, 222, 7) 100%);
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav:hover {
  border-bottom: 4px solid #ffd900;
  transition: all 0.2s ease-out;
}
